* {
    margin: auto;
    line-height: 1.7;
}

.socials {
    margin-top: 30px;
}

.socials i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    transition: .3s ease;
}

.socials i:hover {
    color: #f7c59f;
}

.copyright {
    margin-top: 40px;
    text-align: center;
    opacity: .7;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width: 768px) {

    .navbar {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 48px;
    }

    section {
        padding: 80px 20px;
    }

    .contact {
        margin: 20px;
    }

    .contact-content h2,
    .title h2 {
        font-size: 36px;
    }
}